click==7.1.2
cur==0.0.1
cycler==0.10.0
joblib==0.14.1
kiwisolver==1.2.0
llvmlite==0.32.0
matplotlib==3.2.1
nltk==3.5
numba==0.49.0
numpy==1.18.4
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2020.4.4
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
tbb==2020.0.133
tqdm==4.46.0
umap-learn==0.4.2
